.login-form-container {
  box-shadow: 0px 0px 5px 1px #f6f5f5;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #e9e6e6;
  .input-label {
    color: $textColor;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    ::placeholder {
      color: rgb(251, 251, 251);
    }
  }
  .primary-button {
    padding: 0.7rem;
  }
  .forgot-password {
    color: red;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .text {
    font-size: 0.8rem;
  }
}
